* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #2B468B;
    --color-bg1: #F9DFC8;
    --color-bg2: #AECDFB;
    --color-orange: #F99746;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);

    /*background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;*/
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    /*background-color: RoyalBlue;*/
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
  }

  .btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
  }
/* ===================================== NAVBAR ======================================== */
 nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav_menu a:hover {
    color: var(--color-bg2);

}

 /* ===================================== END OF NAVBAR ======================================== */

 .displayProductsContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .displayProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 2%;
    background-color: var(--color-bg2);
  }
  .product .name {
    font-weight: bold;
    margin-bottom: 0.313rem;
  }
  .product .price {
    color: var(--color-black);
  }
  .product:hover {
    background-color: var(--color-grey);
    cursor: pointer;
  }
  .product:hover .name {
    color: #333;
  }
  
  .productImg {
    float: left;
    width: 6rem;
    height: 6rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  /* ========================== ADD TO CART BUTTON ========================== */
  .addToCart {
    margin-bottom: 5%;
    padding: 0.625rem 1.25rem;
    background-color: var(--color-primary);
    color: black;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  .addToCart:hover {
    background-color: var(--color-secondary);
    color: black;
  }




  /* ===================================== MEDIA QUERIES (TABLETS) ======================================== */

@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }

  h1 {
      font-size: 2.2rem;
  }

  h2 {
      font-size: 1.7rem;
  }

  h3 {
      font-size: 1.4rem;
  }

  h4 {
      font-size: 1.2rem;
  }

 

 /* ==================================== MEDIA QUERIES PHONES ================================= */
  @media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    /* ==================================== NAVBAR ================================= */
    .nav_menu {
        right: 3%;
    }
  }
}