* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
$color_1: #fff;
$background-color_1: rgb(248, 26, 92);
$border-color_1: rgb(248, 26, 92);

.bg-primary{
    background-color: var($background-color_1)!important;
}

.btn-primary{
    background-color: rgb(248, 26, 92)!important;
}

/* Navbar */
.navbar-brand {
    font-size: 2rem;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    color: black;
}

.search {
    height: 40px;
    border-radius: 60px;
    margin-right: -35px;
    font-family: "Rubik", sans-serif;
    border: 2px solid rgb(248, 26, 92);
}

.mybtn {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

/* Main Section */
.main {
    background: url(./images/tech-background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    
    h1 {
        font-size: 4rem;
        font-weight: 700;
        color: white;
    }
}

.main-btn {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.main-btn:hover {
    background-color: rgb(223, 15, 77);
    transition: 0.5s;
}

/* Product Section */
.product {
    h1 {
        font-weight: 700;
    }
}

/* collection */
/* special */
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    .justify-content-around {
        .btn-primary{
            background-color: rgb(248, 26, 92)!important;
        }
    }
    
}
.card-body{
    padding: 15px;
    margin-top: -15px;

    img {
       aspect-ratio: 1;
       object-fit: contain;
    }
}

h3,h5{
    color: rgb(248, 26, 92);
}

/* collection */
.active-filter-btn{
    background-color: rgb(248, 26, 92)!important;
    color: #fff!important;
    border-color: rgb(248, 26, 92)!important;
}
.active-filter-btn :hover{
    color: #fff;
}
.filter-button-group .btn:hover{
    color: grey;
    box-shadow: 1px 3px 3px 0px rgba(179,179,179,1);
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.product-btn {
    border: 2px solid rgb(248, 26, 92);
    background-color: #fff;
    padding: 0;
    width: 50%;
    
    i {
        color: rgb(223, 15, 77);
    }
}

.product-btn:hover {
    background-color: rgb(248, 26, 92);
    color: white;
    
    i {
        color: white;
    }
}

/* Footer */
.footer {
    background: rgb(248, 26, 92);
    padding-top: 5rem;
    font-size: 0.9rem;
    
    ul {
    .no-bullets {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0;
    }
        li {
            margin-bottom: 0.7rem;
            
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    
    > div {
        h4 {
            margin-bottom: 1.2rem;
        }
    }
}

.footer__1 {
    p {
        margin: 0 0 2rem;
    }
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px dotted black;
}

.rds {
    border-radius: 60px !important;
}

.active {
    color: rgb(248, 26, 92);
}
.qty-input {
    color: #000;
    background: #fff;
    width: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 60px;
    border: 2px solid rgb(248, 26, 92);
}

.product-qty,
.qty-count {
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 0;
    height: fit-content;
    line-height: 1;

    &:focus {
        outline: none;
    }
}

.product-qty {
    width: fit-content;
    min-width: 0;
    display: inline-block;
    text-align: center;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

.qty-count {
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    text-indent: -100px;
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
        content: "";
        height: 2px;
        width: 10px;
        position: absolute;
        display: block;
        background: #000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
}


.cartImgBtn {
    font-size: x-large;
    color: black;
}

.cartImgBtn:hover{
    color: rgb(68, 68, 68);
}

.userImgBtn {
    font-size: x-large;
    color: rgb(248, 26, 92);
}

.userImgBtn:hover {
    color: rgb(223, 15, 77);
}

// Off-canvas styles
.sidePanelCart {
    position: absolute;
    top: 80px;
    right: -1000px; // Initially hide the off-canvas panel off-screen
    width: auto;
    height: auto;
    background-color: #fff; // Adjust as needed
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: right 0.3s ease; // Smooth transition for the opening/closing effect
    border-radius: 8px;
    padding: 10px;
}

.sidePanelCart.open {
    right: 10px; // Show the off-canvas panel by bringing it to the left edge of the screen
}

.product-price {
    width: 50%;
}


.first_col {
    background-color: white;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 30px;
}

.img-fluid {
    border-radius: 30px;
}

.row-last {
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 170px;
    padding-bottom: 100px !important;
    background-color: rgb(248, 26, 92);
    border-radius: 30px;

}

.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 500px !important;
        top: 0 !important;
    }
}

.image-part {
    margin-right: -35px;
    img {
        border-radius: 8px;
    }
}

.description-part {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid rgb(248, 26, 92);
    border-radius: 8px;
    margin-right: -55px;
    border-left: 0;
}

.register-btn {
    background: linear-gradient(90deg, black 0%, rgb(248, 26, 92) 65%);
    color: white;
    border: 0;
    opacity: 0.9;
}

.register-btn:hover {
    background: linear-gradient(90deg, black 0%, rgb(248, 26, 92) 65%);
    color: white;
    border: 0;
    opacity: 1;
}


td {
    border-color: #E0E0E0;
    border-style: solid;
    /* border-width: 0; */
    /* border-width: 1px; */
    padding: 5px;
}

.delete {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    color: rgb(248, 26, 92);
    a {
        color: rgb(248, 26, 92);
    }
}

.myCart {
    border-bottom: 1px dotted rgb(223, 15, 77);
}

.order-selector {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgb(223, 15, 77);
    color: rgb(223, 15, 77);
}

.order-selector:hover {
    color: black;
}